Package: xyz.skitty.ersatz
Name: Ersatz
Depends: mobilesubstrate, preferenceloader
Version: 1.0
Architecture: iphoneos-arm
Description: Replace any text, system-wide!
Icon: https://skitty.xyz/repo/icons/xyz.skitty.ersatz.png
Depiction: https://skitty.xyz/repo/depictions/?p=xyz.skitty.ersatz
SileoDepiction: https://skitty.xyz/repo/depictions/?s=xyz.skitty.ersatz
Maintainer: Skitty
Author: Skitty
Section: Tweaks
